.container {
    max-width: 50rem;
    width: 100%;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 600;
}

.menu-section + .menu-section {
    margin-top: 3rem;
}

.menu-section__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.menu-section__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
